body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* common */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1023px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .header-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  display: block;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts {
  font-style: normal;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:focus,
.menu-nav-link:active,
.menu-contacts-link:focus,
.menu-contacts-link:active,
.menu-nav-link.current {
  color: #404bbf;
}

.social-links {
  display: flex;
  gap: 40px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: #404bbf;
}

.social-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* order section */

.order-section {
  height: 432px;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (min-resolution: 2x) {
  .order-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg@x2.jpg);
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  text-align: center;
}

.button-base {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button {
  margin-top: 72px;
}

.button-base:hover,
.button-base:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .order-section {
    height: 436px;
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
  }

  @media (min-resolution: 2x) {
    .order-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg@x2.jpg);
    }
  }

  .heading-one {
    font-size: 56px;
    max-width: 496px;
  }

  .order-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .order-section {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk-bg.jpg);
  }

  @media (min-resolution: 2x) {
    .order-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk-bg@x2.jpg);
    }

    .order-button {
      margin-top: 48px;
    }
  }
}

/* features section */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.icon-div {
  display: none;
}

.heading-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text-features {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-item {
    width: calc((100% - 48px) / 2);
  }

  .heading-three {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-features {
    font-weight: 400;
  }
}

/* team section */

.team-section {
  background-color: #f4f4fd;
}

.heading-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-content {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  gap: 8px;
  align-items: center;
}

.name-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-content .social-links {
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* portfolio section */

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-overlay {
  display: none;
}

.portfolio-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-item:focus,
.portfolio-item:active,
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-content .heading-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-wrapper {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-wrapper {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
  }

  .div-img-overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* footer section */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: #2e2f42;
  padding: 96px 16px;
}

.info-and-socials-part {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-info,
.footer-socials,
.footer-sub-part {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-logo .footer-part,
.footer-call-to-action {
  color: #f4f4fd;
}

.footer-call-to-action {
  width: 288px;
}

.footer-text {
  font-weight: 500;
  color: #ffffff;
}

.footer-socials .social-links {
  gap: 16px;
}

.footer-field {
  border: 1px solid #ffffff;
  border-radius: 4px;
  opacity: 0.3;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  background: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-field::placeholder {
  color: #ffffff;
}

.sub-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  text-align: center;
  gap: 16px;
  margin-top: 16px;
}

.sub-icon {
  fill: #fff;
}

.footer-socials .social-links .link:hover,
.footer-socials .social-links .link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .page-footer {
    display: inline-block;
    align-items: flex-start;
    padding: 96px 108px;
    width: 100%;
  }

  .info-and-socials-part {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 16px;
  }

  .footer-info,
  .footer-socials,
  .footer-sub-part {
    align-items: flex-start;
  }

  .footer-call-to-action {
    width: 264px;
  }

  .social-links {
    margin-top: 0;
  }

  .footer-sub-part {
    margin-top: 72px;
  }

  .footer-sub-input {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }

  .footer-field {
    width: 264px;
  }

  .sub-button {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 158px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-and-socials-part {
    column-gap: 120px;
  }

  .footer-sub-part {
    margin: 0;
  }

  .footer-field {
    opacity: 1;
  }
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1, 5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 72px 16px 24px;
  width: 288px;
  min-height: 623;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  margin-top: 8px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.svg-input {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-input:focus-within .input-icon {
  fill: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.comment-wrap {
  margin-bottom: 16px;
}

.textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checklabel > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checklabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checklabel a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  line-height: 1.3;
}

.send-button {
  margin-top: 24px;
  width: 169px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
